<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ include file="/commons/global.jsp" %>
<script type="text/javascript">
    $(function() {
        $('#${table.entityPath}EditForm').form({
            url : '${path}/${table.entityPath}/edit',
            onSubmit : function() {
                progressLoad();
                var isValid = $(this).form('validate');
                if (!isValid) {
                    progressClose();
                }
                return isValid;
            },
            success : function(result) {
                progressClose();
                result = $.parseJSON(result);
                if (result.success) {
                    parent.$.modalDialog.openner_dataGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
                    parent.$.modalDialog.handler.dialog('close');
                } else {
                    parent.$.messager.alert('错误', result.msg, 'error');
                }
            }
        });
        
       $('#${table.entityPath}EditQy').combotree({
            parentField : 'pid',
            valueField: 'id',
            lines : true,
            width:200,
            panelHeight : 300,
            value : '${${table.entityPath}.dscd}',
            onClick: function(node){
        		$("#${table.entityPath}EditZwQy").val(node.text);
        	}
        });
        
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;padding: 3px;">
        <form id="${table.entityPath}EditForm" method="post">
            <table class="grid">
            	<tr>
                    <td>所在镇（街）</td>
                    <td>
                    <select id="${table.entityPath}EditQy" name="dscd"  style="width: 260px; height: 29px;" class="easyui-validatebox" data-options="required:true"></select>
                    <input name="szz" id="${table.entityPath}EditZwQy" type="hidden" value="${${table.entityPath}.szz}" ></td>
                </tr>
                <tr>
                    <td>名</td>
                    <td><input name="id"  type="hidden"  value="${${table.entityPath}.id}">
                    <input name="name" style="height: 29px;width:260px;" class="easyui-textbox" type="text" data-options="required:true" value="${${table.entityPath}.name}"></td>
                </tr>
                <tr>
                    <td>名</td>
                    <td><input name="name" style="height: 29px;width:260px;" class="easyui-textbox" type="text" value="${${table.entityPath}.name}"></td>
                </tr>
                <tr>
                    <td>名</td>
                    <td><input name="name" style="height: 29px;width:260px;" class="easyui-textbox" type="text" value="${${table.entityPath}.name}"></td>
                </tr>
                <tr>
                    <td>名</td>
                    <td><input name="name" style="height: 29px;width:260px;" class="easyui-textbox" type="text" value="${${table.entityPath}.name}"></td>
                </tr>
                <tr>
                    <td>名</td>
                    <td><input name="name" style="height: 29px;width:260px;" class="easyui-textbox" type="text" value="${${table.entityPath}.name}"></td>
                </tr>
                <tr>
                    <td>名</td>
                    <td><input name="name" style="height: 29px;width:260px;" class="easyui-textbox" type="text" value="${${table.entityPath}.name}"></td>
                </tr>
                <tr>
                    <td>名</td>
                    <td><input name="name" style="height: 29px;width:260px;" class="easyui-textbox" type="text" value="${${table.entityPath}.name}"></td>
                </tr>
                <tr>
                    <td>名</td>
                    <td><input name="name" style="height: 29px;width:260px;" class="easyui-textbox" type="text" value="${${table.entityPath}.name}"></td>
                </tr>
                <tr>
                    <td>名</td>
                    <td><input name="name" style="height: 29px;width:260px;" class="easyui-textbox" type="text" value="${${table.entityPath}.name}"></td>
                </tr>
                <tr>
                    <td>名</td>
                    <td><input name="name" style="height: 29px;width:260px;" class="easyui-textbox" type="text" value="${${table.entityPath}.name}"></td>
                </tr>
                <tr>
                    <td>名</td>
                    <td><input name="name" style="height: 29px;width:260px;" class="easyui-textbox" type="text" value="${${table.entityPath}.name}"></td>
                </tr>
                <tr>
                    <td>名</td>
                    <td><input name="name" style="height: 29px;width:260px;" class="easyui-textbox" type="text" value="${${table.entityPath}.name}"></td>
                </tr>
                <tr>
                    <td>经度</td>
                    <td><input name="jd" style="height: 29px;width:260px;" class="easyui-textbox" type="text" value="${${table.entityPath}.jd}"></td>
                </tr>
                <tr>
                    <td>纬度</td>
                    <td><input name="wd" style="height: 29px;width:260px;" class="easyui-textbox" type="text" value="${${table.entityPath}.wd}"></td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td><input name="bz" style="height: 29px;width:260px;" class="easyui-textbox" type="text" value="${${table.entityPath}.bz}"></td>
                </tr>
            </table>
        </form>
    </div>
</div>