<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.DangerAreaInfoMapper">



<select id="selectPageNew" resultType="java.util.HashMap">
        SELECT 
        b.* 
        FROM 
        danger_area_info b where delflag is null   
      
            <if test=" dzName != null and dzName != '' ">
                 and b.DZ_NAME like concat('%',#{dzName},'%')
            </if>
           <if test=" dscd != null and dscd != '' ">
                 and b.dscd like concat('',#{dscd},'%')
            </if>
            <if test=" dscd2 != null and dscd2 != '' ">
                 and b.dscd like concat('',#{dscd2},'%')
            </if>
          order by ID desc
</select>


</mapper>
