<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.GoodsRepositoryMapper">



<select id="selectPageNew" resultType="java.util.HashMap">
        SELECT 
        b.* 
        FROM 
        goods_repository b where delflag is null   
      
            <if test=" name != null and name != '' ">
                 and b.name like concat('%',#{name},'%')
            </if>
           <if test=" dscd != null and dscd != '' ">
                 and b.dscd like concat('',#{dscd},'%')
            </if>
            <if test=" dscd2 != null and dscd2 != '' ">
                 and b.dscd like concat('',#{dscd2},'%')
            </if>
         order by ID desc
</select>


</mapper>
