<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.ReservoirInfoMapper">



<select id="selectPageNew" resultType="java.util.HashMap">
        SELECT 
        b.ID,b.RSNAME,b.TWN,b.MDNM,b.MDAMTYPE,b.PRSC,b.RSFN,b.DSFLZ,b.TTCP,b.MD_MX_HIG,b.LGTD,b.LTTD,b.BSNM 
        FROM 
        reservoir_info b where delflag is null   
      
            <if test=" rsname != null and rsname != '' ">
                 and b.rsname like concat('%',#{rsname},'%')
            </if>
           <if test=" dscd != null and dscd != '' ">
                 and b.dscd like concat('',#{dscd},'%')
            </if>
            <if test=" dscd2 != null and dscd2 != '' ">
                 and b.dscd like concat('',#{dscd2},'%')
            </if>
          order by ID desc  
</select>


</mapper>
