<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.YanbaInfoMapper">



<select id="selectPageNew" resultType="java.util.HashMap">
        SELECT 
        b.*,a.dsvb
        FROM 
        yanba_info b left join sys_dscdnm_b a on b.dscd=a.dscd where delflag is null   
      
            <if test=" wrName != null and wrName != '' ">
                 and b.WR_NAME like concat('%',#{wrName},'%')
            </if>
           <if test=" dscd != null and dscd != '' ">
                 and b.dscd like concat('',#{dscd},'%')
            </if>
            <if test=" dscd2 != null and dscd2 != '' ">
                 and b.dscd like concat('',#{dscd2},'%')
            </if>
          order by ID desc
</select>


</mapper>
